# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# dependencies
node_modules/

# 编辑器
.idea/
.vscode/

# build directory
dist/

# local env files
pnpm-lock.yaml

# misc
dist/
lib/
push.sh
