@include namespace('inn') {
	@include b('button') {
		--base-default-color: #{$color-white};
		--base-primary-color: #{$color-primary};
		--base-success-color: #{$color-success};
		--base-warning-color: #{$color-warning};
		--base-danger-color: #{$color-danger};
		--base-info-color: #{$color-info};
		--base-dashed-color: #{$text-color};

		// 去除按钮默认样式
		outline: none;
		cursor: pointer;
		display: inline-block;

		// 默认样式
		padding: $padding-xxs $padding-m;
		line-height: $line-height;
		color: var(--inn-button-text-color, 'inherit');
		border: 1px solid var(--inn-button-border-color, $border-color);
		border-radius: $border-radius;
		background: var(--inn-button-bg-color, 'inherit');
		transition: all 0.3s;

		@include whenNot('disabled') {
			&:hover,
			&:focus,
			&:target {
				color: var(--inn-button-hover-text-color, 'inherit');
				border-color: var(--inn-button-hover-border-color, 'inherit');
				background: var(--inn-button-hover-bg-color, 'inherit');
			}

			&:active {
				color: var(--inn-button-active-text-color, 'inherit');
				border-color: var(--inn-button-active-border-color, 'inherit');
				background: var(--inn-button-active-bg-color, 'inherit');
			}
		}

		// 虚线
		&--dashed {
			border-style: dashed;
			border-color: $text-color;
			color: $text-color;
			background: transparent !important;
			&:hover {
				border-color: $color-primary;
			}
		}

		// 文本
		&--text {
			background: transparent;
			border-color: transparent;
			color: $text-color;
			&:hover {
				border-color: transparent;
				background: rgb(0 0 0 / 6%);
			}
		}

		// 链接
		&--link {
			background: transparent;
			border-color: transparent;
			color: $color-primary;
			&:hover {
				color: $color-primary;
			}
		}

		@include when('round') {
			border-radius: 16px;
		}

		@include when('circle') {
			padding: 0;
			width: 32px;
			height: 32px;
			overflow: hidden;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		@include when('disabled') {
			background: $background-color-disabled;
			color: $text-color-disabled;
			border-color: $border-color-disabled;

			&:hover {
				cursor: not-allowed;
			}
		}
	}
}
